<!DOCTYPE html>
<html>
    <head>
        <title>간편투표앱</title>
    </head>
    <body>
        <form>
            <h1>투표결과</h1>
            <p>소미 : <%=@result["sm"]%></p>
            <p>세정 : <%=@result["sj"]%></p>
            <p>결경 : <%=@result["kk"]%></p>
            <p>채연 : <%=@result["cy"]%></p>
            <p>청하 : <%=@result["ch"]%></p>
            <p>유정 : <%=@result["yj"]%></p>
            <p>나영 : <%=@result["ny"]%></p>
        </form>
    </body>
</html>