<h1>투표 결과</h1>
<p>총 <%=@total%>명이 투표하였습니다.</p>
<p>총 <%=@yes%>명 찬성하였습니다.</p>

<% if @yes.to_f / @total > 0.5 %>
<%= "제주도행" %>
<% else %>
<%= "돌아와요" %>
<% end %>

<% @cheers.each do |x| %>
<p>이름: <%= x[0]%></p>
<p>응원메세지: <%= x[1]%></p>
<% end %>